body{font-family:arial, 'Hiragino Sans GB',Tahoma, Arial, Helvetica, STHeiti;font-size: 14px;}
.container {
  max-width: 960px;
}
.days-hours-heatmap{padding: 20px 0 20px 0;width: 500px;margin: 0 auto;}
.days-hours-heatmap .calibration{margin-bottom: 15px;width:400px;}
.days-hours-heatmap .calibration .group{display: inline-block;}
.days-hours-heatmap .calibration .description{width:108px;}
.days-hours-heatmap .calibration .description>label:last-child{float:right;}
.days-hours-heatmap .calibration>.display-control{float:right;}
.days-hours-heatmap .calibration>.display-control label{vertical-align: top;}
.days-hours-heatmap .calibration>.display-control input[type='radio']{cursor: pointer;}

.days-hours-heatmap .heatmap .axis path{display: none;}
.days-hours-heatmap .heatmap .axis line{fill: none;stroke: #000;shape-rendering: crispEdges;}
.days-hours-heatmap .heatmap .axis text{font-size: 12px}

.slidecontainer {
    padding-left: 50px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
